Client/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Books" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibrayService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ILibrayService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrayService_UpdateBookPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookPrice" />
  </wsdl:message>
  <wsdl:message name="ILibrayService_UpdateBookPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrayService_PrintAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintAllBooks" />
  </wsdl:message>
  <wsdl:message name="ILibrayService_PrintAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintAllBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibrayService">
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrayService/AddBook" message="tns:ILibrayService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrayService/AddBookResponse" message="tns:ILibrayService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBookPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrayService/UpdateBookPrice" message="tns:ILibrayService_UpdateBookPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrayService/UpdateBookPriceResponse" message="tns:ILibrayService_UpdateBookPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrayService/PrintAllBooks" message="tns:ILibrayService_PrintAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrayService/PrintAllBooksResponse" message="tns:ILibrayService_PrintAllBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibrayService" type="tns:ILibrayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/ILibrayService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBookPrice">
      <soap:operation soapAction="http://tempuri.org/ILibrayService/UpdateBookPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintAllBooks">
      <soap:operation soapAction="http://tempuri.org/ILibrayService/PrintAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_ILibrayService" binding="tns:BasicHttpBinding_ILibrayService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryService/LibrayService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>